*{
    margin: 0;
    padding: 0;
}

body{
    width: 970px;
}

header{
    position: relative; 
    z-index: 1; 
}

header h1{
    display: inline-block;  
    color: #474747;
    padding: 5px;
    position: relative;
    vertical-align: bottom;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header h2{
    padding: 20px;
    color: #c9d9e6;
    width: 970px;
    background: linear-gradient(#26679f, #5283ad, #24679f);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: relative; 
    z-index: -1; 
}

header h2::before{
    content: "";
    display: block;
    position: absolute;
    left: 0;
    bottom: -20px;
    width: 100px;
    height: 100px;
    background: url(../img/globe.png) no-repeat;
}

header img{
    width: 100px;
    display: inline;
    vertical-align: middle;
    margin-bottom: -20px; 
    position: relative; 
    z-index: 2; 
}

.azul{
    color: #22659e;
}

.red{
    color:#d9231c;
}

.internet{
    margin: 20px;
    width: 200px;
    flex-direction: column;
}

.internet h2{
    padding: 15px;
}

.internet p{
    font-weight: bold;
    margin-bottom: 20px;
}

button{
    width: 200px;
    height: 40px;
    margin: 2px;
    box-shadow: 1px 1px black;
    border-radius: 5px;
    color: #ffffff;
}

.blue{
background:linear-gradient(#6398c4,#4782b3,#23669e)
}

.orange{
    background:linear-gradient(#eaac53,#ed972a,#f07500)
}

.internet hr{
    margin-top: 30px;
    margin-bottom:10px;
    width: 100%;
    border: black solid 1px;
}

.image{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    width: 200px;
    background-image: url(../img/ad_background.png);
}

.image img{
    width: 100px;
}

.cyan{
    width: 160px;
    margin-bottom: 30px;
    background: linear-gradient(#75d0df,#3ac9df,#00c0df);
}

.content{
    width: 100%;
    flex-direction: column;
    margin: 20px;
}

.principal img{
    width: 26px;
    height: 26px;
}

.home{
    display: flex;
    vertical-align: middle;
}

.home p{
    padding-top: 5px;
}

.container{
    display: flex;
}

.contact p{
    color: #636363;
    font-size: small;
    margin: 0;
}

h2 .celeste{
color: #00c0df;
}

.black{
    font-weight: bold;
    color: black;
}

.principal{
    display: flex;
    justify-content: space-between;
}

.phone{
    display: flex;
}

.phone img{
    margin-right: 5px;
}

.descripcion h2{
    margin: 10px;
    text-align: start;
}

p{
    margin: 5px;
}
.lista{
    margin-left: 50px;
    margin-bottom: 30px;
}

.descripcion img{
    margin: 20px;
    width: 300px;
}

.client-server{
    margin: 10px;
    display: flex;
    justify-content: center;
}

.pdp{
    margin-left: 20px;
    display: flex;
    border-width: 6px;
    border-style: solid;
    border-color: #0085e0;
}

.tecnologias img{
    width: 150px;
}

.tecno-descripcion{
    margin: 10px;
}